<h1>Sign Up</h1>
<form action='/signup' method='post'>
    <label for='uname'>Username</label><br>
    <input type='text' id='uname' name='uname'><br>
    <label for='password'>Password</label><br>
    <input type='password' id='password' name='password'><br>
    <label for='cpassword'>Confirm Password</label><br>
    <input type='password' id='cpassword' name='cpassword'><br>


</form>