

.material-icons.navredcoin {
  color: var(--contrast);
  /* color: var(--white); */
  /* background-color: black; */
  position:relative;
  vertical-align: middle;
  border-radius:50%;
  border-width: 0px;
  /* border-color: var(--contrast); */
  /* background-color: var(--contrast); */
  /* background-color:gold; */
  /* margin-bottom:2px; */
  /* font-size: 20px; */
  /* top:10px; */
  /* top:5px; */
}

.material-icons.taskredcoin {
 color: var(--contrast);
 position:relative;
 vertical-align:middle;
 font-size: 18px;
}

.numcoins{
  display: inline-block;
  vertical-align: middle;
  /* background:blue; */
  /* padding:20px; */
}
#numcoins{
  justify-content:center;
  display:flex;
  align-items: flex-end;

}

header {
  /* font-family: courier; */
  /* position: absolute; */
  left:auto;
  right:auto;
  display:flex;
  align-items: center;
  position: -webkit-sticky;
  position:sticky;
  top:0;
  /* max-width: 10in; */
  width: 100%;
  height: 80px;
  background-color: var(--white);
  margin: 0 0;
  border-bottom: solid 1px var(--black);
  /* padding: 0 20%; */
  

  
}
header h1 {
  margin-left: 30px;
}

header .navcontainer {
  margin-left: auto;
  margin-right: auto;
  width: 12in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


header .navigation {
  /* position:absolute; */
  padding: 0 20px 0 0;;
  /* right:30px; */
  /* right: 0; */
  /* float:right; */
  margin-left: auto;
  margin-right: 0;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  
  
  margin-right: 0;
  
}
.navcontainer a{
  text-decoration: none;
  color: var(--contrast);
}


.navigation .navbutton {
  border-style: solid;
  background-color: var(--black);
  border-color: var(--white);
  border-radius: 50vh;
  padding: 10px 20px;
  margin-left: 10px;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.navigation .navbutton:hover {
  background-color:var(--white);
  border-color: var(--black);
  color: var(--black);
  cursor: pointer;
}

.navigation .navbutton:active {
  outline-style: none;
}
.navigation .navbutton:focus {
  outline-style: none;
}


/* .navigation a {
  padding: 0px 20px;
  color: black;
  text-decoration: none;
  font-size: 35px;
} */
.navigation .navprofilepic{
  margin: auto auto auto 10px;
  /* width: 40px; */
  width: 50px;
  transition: 0.2s ease;
  
  border-radius: 50%;
  border-color: var(--black);
  border-style: solid;
  border-width: 2px;
  
}

.navigation .navprofilepic:hover{
  opacity: 0.3;
}

.navigation .dropdown{
  /* float:right; */
  padding:2px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap:wrap;
  align-items: center;
  border-style: solid;
  border-top-style: none;
  border-color: var(--black);
  border-width: 1px;
  /* width: auto; */
  white-space: nowrap;
  right:0;
  left:auto;
  display: none;
  z-index: 1;
  position: absolute;
  
  background-color: var(--white);
}
#drop{
  position:relative;
  display:inline-block;
}
#drop:hover .dropdown{
  display:block;
}

.submenu{
  /* all:unset; */
  background-color: var(--black);
  border-radius:0;
  display:block;
  width:95%;
  margin-left: auto;
  margin-right:auto;
  border-style: solid;
  border-top-style: none;
  border-bottom-style:none;
  margin-top:5px;
  border-color: var(--black);
  justify-content: center;
  /* border-radius: 50vh; */
  padding: 10px 20px;
  /* margin-left: 10px; */
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

button.submenu:hover{
  cursor:pointer;
  background-color:var(--white);
  color: var(--black);
  cursor: pointer;
}

.signup {
  border-color: var(--contrast);
}





.form {
  width: 3in;
  margin: 1.5in auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  
  background-color: var(--white);
}

.form #description {
  height: 10em;
}

.form form textarea {
  resize: none;
}

#replyForm {
  display: none;
}

#replyDisplay{
  display: none;
}

.profilePage{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:center;
}

.tasklist.profileTasks{
  margin: 1.5in auto 0 2px;
}


.profile {
  border-radius: 4px;
  background-color: var(--white);
  margin: 1.5in 2px 0 auto;
  padding: 20px;
  width: 14%;
  text-align: center;
}



.profile img{
  width: 80%;
  border-radius:50%;
  margin-left: auto; 
  margin-right: auto;
}
