:root {
  --background:0;
  --var2:0;
  --contrast:#ff331f;
  --white:#fbfbff;
  --black:#0d0106;
  --lightcomplement:#657ed4;
  --darkcomplement:#3626a7;
}

html{
  width:100%;
}
body {
  max-width: 100%;
  /* width:100%; */
  padding: 0px;
  margin: 0px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  /* background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
  ); */
  /* background: radial-gradient(circle at center, #3749b1, #3b52e9); */
  /* background: radial-gradient(circle at center, var(--lightcomplement), var(--darkcomplement)); */
  background: var(--darkcomplement);

  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

header {
  /* font-family: courier; */
  /* position: absolute; */
  left:auto;
  right:auto;
  display:flex;
  align-items: center;
  position: -webkit-sticky;
  position:sticky;
  top:0;
  /* max-width: 10in; */
  width: 100%;
  height: 80px;
  background-color: var(--white);
  margin: 0 0;
  /* padding: 0 20%; */
  

  
}
header h1 {
  margin-left: 30px;
}

header .navcontainer {
  margin-left: auto;
  margin-right: auto;
  width: 12in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


header .navigation {
  /* position:absolute; */
  padding: 0 20px 0 0;;
  /* right:30px; */
  /* right: 0; */
  /* float:right; */
  margin-left: auto;
  margin-right: 0;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  
  
  margin-right: 0;
  
}
.navcontainer a{
  text-decoration: none;
  color: var(--contrast);
}
.navcontainer a, .navcontainer a:link, .navcontainer a:visited, .navcontainer a:hover, .navcontainer a:active {
  text-decoration: none;
  color: var(--contrast);
}

.navigation .navbutton {
  border-style: solid;
  border-color: var(--lightcomplement);
  border-radius: 50vh;
  padding: 10px 20px;
  margin-left: 10px;
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.navigation .navbutton:hover {
  background-color:var(--lightcomplement);
  color: var(--white);
  cursor: pointer;
}

.navigation .navbutton:active {
  outline-style: none;
}
.navigation .navbutton:focus {
  outline-style: none;
}


/* .navigation a {
  padding: 0px 20px;
  color: black;
  text-decoration: none;
  font-size: 35px;
} */
.navigation .navprofilepic{
  margin: auto auto auto 10px;
  /* width: 40px; */
  width: 50px;
  transition: 0.2s ease;
  
  border-radius: 50%;
  border-color: var(--lightcomplement);
  border-style: solid;
  border-width: 2px;
  
}

.navigation .navprofilepic:hover{
  opacity: 0.3;
}

.navigation .dropdown{
  /* float:right; */
  padding:2px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap:wrap;
  align-items: center;
  border-style: solid;
  border-top-style: none;
  border-color: var(--black);
  border-width: 1px;
  /* width: auto; */
  white-space: nowrap;
  right:0;
  left:auto;
  display: none;
  z-index: 1;
  position: absolute;
  
  background-color: var(--white);
}
#drop{
  position:relative;
  display:inline-block;
}
#drop:hover .dropdown{
  display:block;
}

.submenu{
  /* all:unset; */
  display:block;
  width:95%;
  margin-left: auto;
  margin-right:auto;
  border-style: solid;
  border-top-style: none;
  border-bottom-style:none;
  margin-top:5px;
  border-color: var(--lightcomplement);
  /* border-radius: 50vh; */
  padding: 10px 20px;
  /* margin-left: 10px; */
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

button.submenu:hover{
  cursor:pointer;
  background-color:var(--lightcomplement);
  color: var(--white);
  cursor: pointer;
}




/* a {
  color: #00B7FF;
} */
.creator {
  color: grey;
}



.tasklist {
  width: 8in;
  margin-top: 1.5in;
  margin-left: auto;
  margin-right: auto;
  /* background-color: grey; */
  padding:0;
  /* text-align: center; */
}

.tasklist ul{
  border-radius:4px;
  list-style-type: none;
  width:100%;
  margin: auto;
  padding:6px;
  background-color: var(--darkcomplement);
}

.tasklist ul li{
  border-radius:4px;
  height: 2in;
  background-color: var(--white);
  margin: 0 0 10px;
  padding: 20px;
}

.tasklist ul li h1{

}

.task {
  width: 10in;
  border-radius: 4px;
  background-color: var(--white);
  margin: 1.5in auto 0 auto;
  padding: 20px;

}




.home {
  max-width: 80%;
  margin: 1.5in auto 0 auto;
  padding: 20px;
  /* background-color: white; */
  text-align: center;
}

.home button {
  border-style: solid;
  border-color: var(--lightcomplement);
  width: 30%;
  border-radius: 50vh;
  padding: 10px 20px;
  margin-left: 10px;
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.home button:hover { 
  background-color:var(--lightcomplement);
  color: var(--white);
  cursor: pointer;;
}
.home button:hover { 
  outline:none;
}

.form {
  width: 3in;
  margin: 1.5in auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  
  background-color: var(--white);
}

.form #description {
  height: 10em;
}

.form form textarea {
  resize: none;
}

#replyForm {
  display: none;
}

#replyDisplay{
  display: none;
}

.profilePage{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:center;
}

.tasklist.profileTasks{
  margin: 1.5in auto 0 2px;
}


.profile {
  border-radius: 4px;
  background-color: var(--white);
  margin: 1.5in 2px 0 auto;
  padding: 20px;
  width: 17%;
  text-align: center;
}



.profile img{
  width: 70%;
  border-radius:50%;
  margin-left: auto; 
  margin-right: auto;
}
