:root {
  --background:;
  --var2:;
}

html{
  width:100%;
}
body {
  max-width: 100%;
  width:100%;
  padding: 0px;
  margin: 0px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  /* background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
  ); */
  /* background: radial-gradient(circle at center, #3749b1, #3b52e9); */
  background: radial-gradient(circle at center, #405aee, #05188f);
 

  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

header {
  /* font-family: courier; */
  display:flex;
  align-items: center;
  position: -webkit-sticky;
  position:sticky;
  top:0;
  max-width: 100%;
  width: 100%;
  height: 80px;
  background-color: rgb(231, 231, 231);
  margin: 0 0;
  

  
}
header h1 {
  margin-left: 30px;
}

header .navigation {
  position:absolute;
  padding: 0 20px 0 0;;
  right:30px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  
  
  margin-right: 0;
  
}

.navigation button {
  border-style: solid;
  border-color: #3b52e9;
  border-radius: 50vh;
  padding: 10px 20px;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.navigation button:hover {
  background-color:#3b52e9;
  color: white;
  cursor: pointer;;
}

.navigation button:active {
  outline-style: none;
}
.navigation button:focus {
  outline-style: none;
}


.navigation a {
  padding: 0px 20px;
  color: black;
  text-decoration: none;
  font-size: 35px;
}

/* a {
  color: #00B7FF;
} */
.creator {
  color: grey;
}



.tasklist {
  width: 8in;
  margin-top: 1.5in;
  margin-left: auto;
  margin-right: auto;
  /* background-color: grey; */
  padding:0;
  /* text-align: center; */
}

.tasklist ul{
  border-radius:4px;
  list-style-type: none;
  width:100%;
  margin: auto;
  padding:6px;
  background-color: rgb(187, 187, 187);
}

.tasklist ul li{
  border-radius:4px;
  height: 2in;
  background-color: white;
  margin: 0 0 10px;
  padding: 20px;
}

.tasklist ul li h1{

}

.task {
  width: 10in;
  border-radius: 4px;
  background-color: white;
  margin: 1.5in auto 0 auto;
  padding: 20px;

}

.profile {
  width: 10in;
  border-radius: 4px;
  background-color: white;
  margin: 1.5in auto 0 auto;
  padding: 20px;

}


.home {
  width: 10in;
  margin: 1.5in auto 0 auto;
  padding: 20px;
  /* background-color: white; */
  text-align: center;
}

.home button {
  border-style: solid;
  border-color: #3b52e9;
  width: 30%;
  border-radius: 50vh;
  padding: 10px 20px;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

.home button:hover { 
  background-color:#3b52e9;
  color: white;
  cursor: pointer;;
}
.home button:hover { 
  outline:none;
}

.form {
  width: 3in;
  margin: 1.5in auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  
  background-color: white;
}

.form #description {
  height: 10em;
}

.form form textarea {
  resize: none;
}

#replyForm {
  display: none;
}

#replyDisplay{
  display: none;
}