<div class='form'>

    <h1>Create a Task</h1>

    <form action='/tasks/create' method='post' enctype='multipart/form-data'>
        <label for='title'>Title</label><br>
        <input type='text' id='title' name='title' required><br>
        <label for='description'>Description</label><br>
        <textarea type='text' id='description' name='description' rows='10' cols='30' maxlength="500" required></textarea><br>
        <label for='value'>Value</label><br>
        <input type='number' id='value' name='value' min='0' required><br>
        <input type='file' name='image' multiple />
        <input type='submit' value='Submit'>
    </form>     

</div>