<div class='form'>

  <h1>Sign Up</h1>
  <form action='/users/signup' method='post'>
      <label for='uname'>Username</label><br>
      <input type='text' id='uname' name='uname' placeholder='John123' required><br>
      <label for='email'>Email</label><br>
      <input type='text' id='email' name='email' required><br>
      <label for='password'>Password</label><br>
      <input type='password' id='password' name='password' required><br>
      <label for='cpassword'>Confirm Password</label><br>
      <input type='password' id='cpassword' name='cpassword' required><br>
      <input type='submit' value='Submit'>
  </form>
  </div>